
.item {
 float: left;
}

h1{
	font-family: Helvetica, sans-serif;
	font-size: 60px;
	position: static;
	
}

body{
	font-family: Helvetica, sans-serif;
	background: url("restaurant_icons.png");
}

.container{
	background: #FF6347;
}
